#container {
	min-width: 400px;
	width: 72vh;
	height: 64vh;
	border: solid #000 3px;
	margin: auto;
	overflow: hidden;
}

#container > .i {
	min-width: 400px;
	width: 72vh;
	height: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
}

.hidden {
	opacity: 0;
	z-index: 0;
}

.from {
	opacity: 1;
	z-index: 0;
}

.to {
	opacity: 1;
	z-index: 1;
	transition-timing-function: linear;
	-webkit-transition: opacity 3s;
	transition: opacity 3s;
}

@media only screen and (min-width: 600px)  {

	#container {
		height: 49vh;
	}

}